/* *{

    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    box-sizing: border-box;
} */
html{
    scroll-behavior:smooth;
}
body{
    
    background: #080808;
    color: white;
}
#header{
    /* padding-top: 0;
    margin-top: 0; */
    height: 100vh;   
    width: 100%;
    /* background-image: url(images/home.png);
    background-size: cover;
    background-position: center; */
  
}

.container{
    padding: 10px 10%;
}
 nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
 }
.logo {
        background-color: pink;
    height: 100px;
    width: 100px ;
    margin-left: 10px;
}    
nav ul li{
    display: inline-block;
    list-style:none;
    margin: 10px 40px;
} 

nav ul li a{
    color:white;
    text-decoration:none;
    font-size: 18px;
    
}


nav ul li a:hover{
    text-decoration: underline;
    color:rgb(23, 237, 191);  
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
    color: white;
}
.header-text h1{
    font-size: 30px;
    margin-top: 20px;
    color: white;       
} 
.header-text p span{
    color:rgb(23, 237, 191)
}
.home-img{
    display: flex;
    justify-content: center;
    align-items:centre  ;
    margin-left: 700px;
    margin-top:-350px;    
    /* position:fixed;
    z-index: 1;  */
    height: 570px;  
} 


#about{
    background-color: #080808;
    padding: 80px 0;    
   
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
   
} 
.container{
    padding: 10px 10%;
}
.about-img img{
    height: 570px;
}
/* .about-col-1{
    flex-basis: 35;
    height: 200px;
} */
.sub-title{
    font-size: 40px;
    font-weight: 600;
    color: white;
}   

.tab-titles{
    display: flex;
    margin: 50px 0 40px;
    
}
.tab-links{
    margin-right: 100px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    font-size: 23px;
}
.tab-titles p:hover{
    color:rgb(23, 237, 191);
    text-decoration: underline;

}
.tab-contents ul li{
    margin: 15px 0;
    font-size: 18px;
}
.tab-contents ul li span{
    color:rgb(23, 237, 191);
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display:block;
}

#services{
    padding: 30px 0;
}
.services-list{
    /* display: flex;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    margin-top: 50px;
   
}
.services-list div{
    
    background-color: #262626;
    padding: 50px;
    font-size: 13px;
    font-weight: 10px;
    border-right:10px;
    margin-right: 20px;
    transition: background 0.4s, transform 0.4s;
}
.services-list div h2{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color:white;
    font-size: 12px;
    margin-top: 20px;
    display:inline-block;
}
.services-list div:hover{
    background:rgb(23, 237, 191);
    transform: translateY(-10px);
}   
#portfolio{
    padding: 50px 0;
} 
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    margin-top: 50px;
    
}    
/* .work-list{
    display:flex;
    justify-content: space-between;
} */

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    margin: 15px;

}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    /* margin-left: 20px; */
    height: 550px;
    transition:transform 0.5s;
    
}
.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6),rgb(23, 237, 191));
    border-radius: 10px;
    position: absolute;
    left: 0; 
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align:center;
    font-size: 17px;
    transition:height 0.5s;


} 
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid rgb(23, 237, 191);
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
}
.btn:hover{
    background-color:  rgb(23, 237, 191) ;
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px
}        
.btn.btn2{
    display: inline-block;
    background:  rgb(23, 237, 191);
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 18px;
    margin: 15px 0;
    color: #fff;
    font-size: 16px;
    border-radius: 6px
}
form btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}